header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    padding-left: 300px;
    font-weight: 400;
    font-style:italic;
}
.contactInfo{
    padding-right: 150px;
    display: flex;
    gap: 40px;
}
.phoneNumber{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
}

.contactIcon{
    gap: px;
    padding-top: 17px;
    width: 50px;
}
.socialMediaToContact{
    display: flex;
    gap:15px;
}